# Ignore node_modules and .env in all directories
node_modules/
.env

# Ignore specific folders
frontend-react/node_modules/
frontend-react/.env
backend-sanity/node_modules/
backend-sanity/.env

# Other system files to ignore
.DS_Store
.idea/
.vscode/
